<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, Link, useForm } from '@inertiajs/vue3';

const form = useForm({
    narration: '',
    amount: ''
});

const submit = () => {
    form.post(route('loans.store'), {
        onFinish: () => form.reset('narration', 'amount'),
    });
};

defineProps({
    status: String,
})
</script>

<template>
    <Head title="Users"/>
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Apply Loan
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">

                    <form @submit.prevent="submit" class="m-5">
                        <h2 class="text-2xl font-bold mb-4">
                            Loan Application Form
                        </h2>
                        <p>Fill the form below with narration and amount you wish to apply for and submit.</p>

                        <div class="mt-5">
                            <InputLabel for="narration" value="Narration" />

                            <TextInput
                                id="narration"
                                type="text"
                                class="mt-1 block w-full"
                                v-model="form.narration"
                                required
                                autofocus
                                autocomplete="narration"
                            />

                            <InputError class="mt-2" :message="form.errors.narration" />
                        </div>

                        <div class="mt-4">
                            <InputLabel for="amount" value="Amount" />

                            <TextInput
                                id="amount"
                                type="number"
                                class="mt-1 block w-full"
                                v-model="form.amount"
                                required
                                autocomplete="amount"
                            />

                            <InputError class="mt-2" :message="form.errors.amount" />
                        </div>
                        <div class="flex items-center justify-end mt-4">
                            <PrimaryButton class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Submit
                            </PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
