<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import {Head, Link, useForm, usePage} from '@inertiajs/vue3';

const submit = () => {
    form.put(route('loans.update',{'id':form.id}), {
        onFinish: () => form.reset('narration', 'amount','approved_amount'),
    });
};

const loan = usePage().props.loan;

const user = usePage().props.auth.user;

const form = useForm({
    id:loan.id,
    narration: loan.narration,
    amount: loan.amount,
    approved_amount: loan.approved_amount,
});
</script>

<template>
    <Head title="Users"/>
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Edit Loan
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">

                    <form @submit.prevent="submit" class="m-5">
                        <h2 class="text-2xl font-bold mb-4">
                            Loan Application Edit Form
                        </h2>
                        <div class="mt-5">
                            <InputLabel for="narration" value="Narration" />

                            <TextInput
                                id="narration"
                                type="text"
                                class="mt-1 block w-full"
                                v-model="form.narration"
                                required
                                autofocus
                                :disabled="user.user_type=== 'Government'"
                                autocomplete="narration"
                            />

                            <InputError class="mt-2" :message="form.errors.narration" />
                        </div>

                        <div class="mt-4">
                            <InputLabel for="amount" value="Amount" />

                            <TextInput
                                id="amount"
                                type="number"
                                class="mt-1 block w-full"
                                v-model="form.amount"
                                required
                                :disabled="user.user_type=== 'Government'"
                                autocomplete="amount"
                            />

                            <InputError class="mt-2" :message="form.errors.amount" />
                        </div>

                        <div class="mt-4" v-if="user.user_type=== 'Government'">
                            <InputLabel for="approved_amount" value="Approved Amount" />

                            <TextInput
                                id="approved_amount"
                                type="number"
                                class="mt-1 block w-full"
                                v-model="form.approved_amount"
                                required
                                autocomplete="approved_amount"
                            />

                            <InputError class="mt-2" :message="form.errors.approved_amount" />
                        </div>
                        <div class="flex items-center justify-end mt-4">
                            <PrimaryButton class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Submit
                            </PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
