<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, Link, usePage} from '@inertiajs/vue3';
defineProps({
    loans:Array
});

const user = usePage().props.auth.user;

const resolveStatus = (status) =>{
    switch (status){
        case "approved":
            return "text-green-700";
        case "denied":
            return "text-red-700";
        default:
            return "text-blue-700"
    }
}
</script>

<template>
    <Head title="Users" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Loans
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Full Name</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Narration</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Amount</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Approved Amount</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                        <tr v-for="loan in loans" :key="loan.id">
                            <td class="px-6 py-4 whitespace-nowrap">{{ loan.id }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ loan.user.name }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ loan.narration }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">${{ loan.amount.toLocaleString() }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">${{ loan.approved_amount.toLocaleString() }}</td>
                            <td :class="'px-6 py-4 whitespace-nowrap '"><span :class="resolveStatus(loan.status)">{{loan.status }}</span></td>
                            <td>
                                <div class="flex space-x-4" v-if="loan.status === 'waiting decision'">
                                    <Link method="get" :href="route('loans.edit',{id:loan.id})"  class="bg-blue-800 hover:bg-blue-700 mr-2 text-blue-300 font-medium py-2 px-4 rounded-lg focus:outline-none focus:bg-blue-700">
                                        Edit
                                    </Link>
                                    <Link v-if="user.user_type === 'Government'" method="put" :href="route('loans.approve',{id:loan.id})" class="bg-green-800 hover:bg-green-700 mr-2 text-green-300 font-medium py-2 px-4 rounded-lg focus:outline-none focus:bg-green-700">
                                        Approve
                                    </Link>
                                    <Link v-if="user.user_type === 'Government'" method="put" :href="route('loans.reject',{id:loan.id})" class="bg-red-800 hover:bg-red-700 text-gray-300 font-medium py-2 px-4 rounded-lg focus:outline-none focus:bg-red-700">
                                        Reject
                                    </Link>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
